<section class='section__banner'>
  <div class='blog__site-area font-Abril'>
    <h1 class='blog__site-title'>Jean's Blog</h1>
    <p class='blog__site-intro font-Serif-TC'>There is only one thing that makes a dream impossible to achieve: the
      fear of failure.</p>
  </div>
</section>