 <footer>
  <div class='footer__text font-Merri'>
    <div>Copyright © 2021 Jean's Blog All Rights Reserved.</div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</footer>