<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('template/head') %>
  </head>
  <body>
    <%- include('template/nav') %>
    <main>
    <%- include('template/banner') %>  
    <section class='section__posts wrapper font-Serif-TC'>
      
    </section>
  </main>
  <%- include('template/footer') %>
</body>

</html>