@import '_mixin';


.icon {
	&__nav-style {
		@include image-size(30px);
		cursor: pointer;
	}

	&__twitter {
		@include background-image($path-rel-socialMedia,'016-twitter-1.svg');
	}

	&__facebook {
		@include background-image($path-rel-socialMedia,'063-facebook.svg');
	}
	
	&__github {
		@include background-image($path-rel-socialMedia,'052-github.svg');
	}
	
	&__linkedin {
		@include background-image($path-rel-socialMedia,'041-linkedin.svg');
	}

	&__post-style {
		@include image-size(20px);
	}
		
	&__clock { 
		@include background-image($path-rel-function-icons,'clock.svg');
	}
	&__author { 
		@include background-image($path-rel-function-icons,'author.svg');
	}
	&__folder {
		@include background-image($path-rel-function-icons,'folder.svg');
	}
	&__folder,
	&__author {
		margin: 0 0 0 15px;
		@include breakpoint(pc) {
			margin: 0 0 0 10px;
		}
		// @include breakpoint(pad) {
		// 	margin:0;
		// }
		// @include breakpoint(mobile) {
		// 	margin:0;
		// }
	}
		
	&__edit {
		@include background-image($path-rel-function-icons,'edit.svg');
	}
		
	&__delete {
		@include background-image($path-rel-function-icons,'delete.svg');
	}
		
	&__edit-style {
		@include image-size(24px);

		margin: 0 10px 0 0;
	}

	/*login logout management*/
	&__func-style {
		@include image-size(30px);
	}
}

// login.php icon
.icon {
	&__username {
		@include background-image($path-rel-function-icons,'username.svg');
	}

	&__password {
		@include background-image($path-rel-function-icons,'password.svg');
	}

	&__user {
		@include background-image($path-rel-function-icons,'user_sample.png');
		border-radius: 50%;
		@include image-size(100px);
	}
}

// btn
%btn-style {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: $fontSize__article-minor-text;
	padding: 10px;
}


.btn {
	&__edit {
		@extend %btn-style;
	}

	&__delete {
		@extend %btn-style;
	}

	&__read-more {
		@extend %btn-style;
	}

	&__article-action {
		position: absolute;
		left: 75%;
		transform: translate(50%);
	}
}


.btn__read-more .icon__edit-style {
margin: 0 0 0 10px;
}

