// navbar, footer,  banner
// mixin, extend
@import '_mixin';

/*navbar */
ul {
	display: flex;
  @include breakpoint(mobile) {
  	flex-wrap: wrap;
  }
	& li {
	list-style-type: none;
	
	}

	& li a {
		text-decoration: none;
    list-style-type: none;
    font-size: $fontSize__navbar-text;
    color: black;
    letter-spacing: 2px;
		display: flex;
		align-items: center;
	}
}

.navbar {
	display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(pad) {
  	display:block;
  }
	&__list:hover {
		background: #f9f1f0;
		border-radius: 10px;
	}

	&__style {
    padding: 5px;
    margin: 10px 5px;
		font-family: $font-navbar;
	}
	
	/* btn -> component	*/
	/*blog control for logout & admin btn*/
	&__blog-control {
		border-radius: 10px;
		border: 1px solid #FADCD9;
		background: #F9F1F0;
	}
	// 可以放在 themes(管理員、深淺色模式）
	&__admin {
		display: flex;
		justify-content: flex-end;
	}
}

/*banner in every page*/
.section {
	&__banner {
		@include background-image($path-rel-bg,'banner_avignons-bridge.jpg');
		height: 300px;
		position: relative;
		margin: 0 0 20px 0;
	}
	&__banner:after {
		content: '';
			position: absolute;
			background: rgba(0,0,0,0.3);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
}

.blog__site {
  &-area {
		margin: 0 auto;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		z-index: 2;
		@include breakpoint(pc-xl) {
			width: 80%;
		};
		@include breakpoint(pc-l) {
			width: 95%;
		};
	}

	&-title {
	  letter-spacing: 2px;
		font-family: $font-title;
		font-size: $fontSize__site-title;
		text-align: center;
		@include breakpoint(mobile) {
			letter-spacing: 0px;
			font-size: 54px;
			margin:10px auto;
		};
	}

	&-intro {
		letter-spacing: 2px;
		font-family: $font-banner-intro;
		text-align: right;
		font-size: $fontSize__site-intro;
		color: white;
		-webkit-text-stroke: 1px #000000;
		@include breakpoint(pc-xl) {
			letter-spacing: 0;
		};
		@include breakpoint(mobile) {
			font-size: 24px;
		};
	}
}

.page {
	&__icon-style {
		position: absolute;
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		text-decoration: none;
		height: 40px;
		width: 40px;
		text-align: center;
		margin: 5px;
		border: #f79489 1px solid;
		color: black;
		&:hover {
			background: #f9f1f0;
		}
	}

	&__area {
		display: flex;
		justify-content: center;
		margin: 0 auto 20px;
		position: relative;
    height: 60px;
	}
	&__icon-first {
    @include pagination-position(44%);
	}
	&__icon-previous {
    @include pagination-position(48%);
	}
	&__icon-next {
    @include pagination-position(52%);
	}
	&__icon-last {
    @include pagination-position(56%);
	}
}


.footer__text {
  font-size: $fontSize__footer;
  padding: 10px 0 10px 0;
  text-align: center;
  background: #F79489;
}
